.images {
  padding: 10px;
  text-align: center;
}

.image {
  display: inline-block;
  width: 306px;
  height: 306px;
  position: relative;
  span {
    // font-family: NeueHaasGrotesk, "Neue Haas Grotesk", HelveticaNeue, "Helvetica Neue", Helvetica, sans-serif;
    color: white;
    opacity: 0;
    padding: 2px 6px;
    background: rgba(0,0,0,0.2);
    position: absolute;
    bottom: 4px;
    right: 4px;
    z-index: 1;
    @include transition(1s opacity ease);
    @include transition-delay(500ms);
    a { color: white; }
  }
  &:hover { span { opacity: 1; } }
  img {
    border: 0;
    padding: 2px 4px;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    -webkit-transition: -webkit-filter 10s ease; 
    -webkit-transform: translateZ(0); /* Fixes retina blurriness. */
    &:hover {
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
      -webkit-filter: grayscale(20%);
      -webkit-transition: -webkit-filter .1s ease; 
    }
  }
}

@media (max-width: 938px) {
  .image {
    width: 245px; height: 245px;
    img { width: 245px; height: 245px; }
  }
}

@media (max-width: 767px) {
  .images {
    padding: 0px;
  }
}